<!DOCTYPE html>

<html>
    <head>
        <title>Cuma's blog</title> 
    </head>
    <body>
        <header>
            <h1><a href="/">MY FIRST BLOG</a></h1>
        </header>

        <article>
            <time>published 02.01.2022 11:47</time>
            <h2><a href="">My first bestemmia</a></h2>
            <p>Dio vescul</p>
        </article>

        <article>
            <time>published: 02.01.2022 11:50</time>
            <h2><a href="">My second bestemmia</a></h2>
            <p>Dio vagone di riso, porco per ogni chicco</p>
            <time>published: 02.01.2022 11:56</time>
        </article>

        <article>
            <h3>Lista bestemmie</h3>
            <ul>dio vescul,</ul>
            <ul>dio lazaron,</ul>
            <ul>dio brigante.</ul>
        </article>
    </body>
</html>